

<!-- Start Collapse.html -->
<script>
    var coll = document.getElementsByClassName("btn-circle");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = document.getElementById(this.id+"data");
        var btn = document.getElementById(this.id);
        if (content.style.display === "block") {
          content.style.display = "none";
          btn.innerHTML = '<i class="fa fa-plus""></i>'
        } else {
          content.style.display = "block";
          btn.innerHTML = '<i class="fa fa-minus"></i>'
        }
      });
    }
    </script>
    <!-- End Collapse.html -->
    
    